/*   color variables */
$clr-primary: #0e48fe;
$clr-primary-hover: #29e6a7;
$clr-primary-dark: #039d69;
$clr-gray100: #f9fbff;
$clr-gray150: #f4f6fb;
$clr-gray200: #eef1f6;
$clr-gray300: #e1e5ee;
$clr-gray400: #767b91;
$clr-gray500: #4f546c;
$clr-gray600: #2a324b;
$clr-gray700: #161d34;

/*   border radius */
$radius: 0.2rem;

$text-nav:$clr-gray500;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Andika New Basic", sans-serif;
  font-weight: 700;
  color: $clr-gray600;
  height: 100vh;
}

.logo_nav{
  position: relative;
  height: 100px;
  width: 100px;

  & img{
    height: 100%;
    object-fit: contain;

  }
}

.nav {
  border-bottom: 1px solid $clr-gray200;



  &__toggle {
    position: absolute;
    cursor: pointer;
    margin: 0rem 1rem;
    right: 0;

    svg {
      width: 1.5rem;
      fill: $clr-gray600;
    }

    .close {
      display: none;
    }

    .menu {
      margin: 20px;
   
      height: 50px;
      width: auto;

    }
  }

  &__checkbox {
    display: none;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    margin: 0 5rem;

    .active{

      background-color: $green-bg;
      border-radius: 1rem;
      color: white;
    }

    li {
      display: none;
      list-style: none;
      align-items: center;

      

    }
    .messenger{

      & img{
        height: 36px;
        width: auto;


      }
    }

    a {

      text-decoration: none;
      color: $text-nav;
      font-size: 20px;
      padding: 0.75rem;
      border-radius: 1rem;
      align-items: center;
      align-content: center;
      &:hover{
        background-color: $light-gold;
        color: white;
        text-decoration: none;

        transform: scale(2 2 );
        transition: 200ms;
      }

    }
    
    &:first-of-type logo {
      margin-right: auto;
      display: block;
    }


  }
}
// ::before:nav__menu{
//     transform: translatey(-100%);
// }

// Toggle the hamburger menu in mobile view
#nav__checkbox:checked ~ ul.nav__menu li {
  display: block;

}

//Change from menu to close icon on tap
#nav__checkbox:checked ~ label.nav__toggle .close {
  display: block;
}

#nav__checkbox:checked ~ label.nav__toggle .menu {
  display: none;
}

// Desktop view
@media only screen and (min-width: 560px) {
  .nav {
    &__toggle {
      display: none;
    }

    &__menu {
      flex-direction: row;

      li {
        display: block;
      }
    }
  }
}