$footer-bg: grey;
$green-bg: #7ba519;
$gold-bg: #fbc11a;
$light-gold:#efca66;
$light-green-bg:#b7cb4f;
$lighter-green-bg:#b1ca80;
$lighter-gold-bg:#ffffaf;

@import "./nav";
@import "./content";
@import "./deals";
@import "./content-about";
@import "./content-deals";
@import "./content-contact";


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{     
    overflow:scroll
}


.container{
    display: flex;
    flex-direction: column;
    flex: 80px 1fr 320px;
}
.header{


    margin: auto;

    line-height: 60px;

}

  

.footer {
    position: relative;
    line-height: auto;
    padding: 20px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: $footer-bg;
    color: white;
    text-align: center;
}