/*   color variables */
/*   border radius */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Andika New Basic", sans-serif;
  font-weight: 700;
  color: #2a324b;
  height: 100vh;
}

.logo_nav {
  position: relative;
  height: 100px;
  width: 100px;
}

.logo_nav img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.nav {
  border-bottom: 1px solid #eef1f6;
}

.nav__toggle {
  position: absolute;
  cursor: pointer;
  margin: 0rem 1rem;
  right: 0;
}

.nav__toggle svg {
  width: 1.5rem;
  fill: #2a324b;
}

.nav__toggle .close {
  display: none;
}

.nav__toggle .menu {
  margin: 20px;
  height: 50px;
  width: auto;
}

.nav__checkbox {
  display: none;
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 5rem;
}

.nav__menu .active {
  background-color: #7ba519;
  border-radius: 1rem;
  color: white;
}

.nav__menu li {
  display: none;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__menu .messenger img {
  height: 36px;
  width: auto;
}

.nav__menu a {
  text-decoration: none;
  color: #4f546c;
  font-size: 20px;
  padding: 0.75rem;
  border-radius: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.nav__menu a:hover {
  background-color: #efca66;
  color: white;
  text-decoration: none;
  -webkit-transform: scale(2 2);
          transform: scale(2 2);
  -webkit-transition: 200ms;
  transition: 200ms;
}

.nav__menu:first-of-type logo {
  margin-right: auto;
  display: block;
}

#nav__checkbox:checked ~ ul.nav__menu li {
  display: block;
}

#nav__checkbox:checked ~ label.nav__toggle .close {
  display: block;
}

#nav__checkbox:checked ~ label.nav__toggle .menu {
  display: none;
}

@media only screen and (min-width: 560px) {
  .nav__toggle {
    display: none;
  }
  .nav__menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .nav__menu li {
    display: block;
  }
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 700px;
      -ms-flex-positive: 700px;
          flex-grow: 700px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

h1 {
  padding-bottom: 2rem;
}

.content li {
  padding-left: 2rem;
}

.mySlides img {
  -o-object-fit: cover;
     object-fit: cover;
}

.a1 {
  padding-right: 5rem;
  padding-right: 5rem;
  padding: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
  min-height: 10rem;
  gap: 3rem;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  background-color: #b1ca80;
  background-blend-mode: darken;
}

.a1 ul {
  list-style: none;
  color: aliceblue;
  padding: 0;
}

.a1 img {
  grid-area: a1;
  height: 200%;
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.a2 {
  padding: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3rem;
  overflow: hidden;
  background-color: #ffffaf;
}

.a2 div {
  min-width: 500px;
}

.a2 img {
  height: 200%;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.a3 {
  padding: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 10rem;
  gap: 3rem;
  overflow: hidden;
  background-color: #e1e5ee;
}

.a3 img {
  grid-area: a1;
  height: 200%;
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.a3 div {
  color: black;
}

.a4 {
  padding: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 10rem;
  gap: 3rem;
  overflow: hidden;
  background-color: white;
}

.a4 img {
  grid-area: a1;
  height: 100%;
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (max-width: 768px) {
  .content div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
}

.content-deals {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: 'd1 d2 d3' 'd4 d5 d6';
  background: grey;
  gap: 15px;
}

.d1 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.d1 img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: d1;
  height: 100%;
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.d2 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.d2 img {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: d2;
  height: 100%;
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.d3 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.d3 img {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: d3;
  height: 100%;
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.d4 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.d4 img {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: d4;
  height: 100%;
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.content-about {
  overflow: scroll;
}

.map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
}

.map .map-text {
  padding: 1rem;
}

.map .iframe-class {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  min-width: 600px;
  max-width: 1000px;
  height: 500px;
}

@media only screen and (max-width: 960px) {
  .map {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .iframe-class {
    width: -webkit-fill-available;
    width: -moz-available;
    width: fill;
  }
}

.content-deals {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  gap: 1rem;
  margin: 2rem auto;
  max-width: 1200px;
  background-color: white;
      grid-template-areas: 'd1 d2 d3 d4' 'd5 d6 d7 d8' 'd9 d10 d11 d12';
}

.d1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: d1;
  background-color: #ffffaf;
  border-radius: 1rem;
  overflow: hidden;
}

.d1 img {
  height: 300px;
  width: auto;
  overflow: hidden;
}

.d1 h1, p {
  margin: 0 1rem;
}

.d1 div {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.d2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: d2;
  background-color: #b1ca80;
  border-radius: 1rem;
  overflow: hidden;
}

.d2 img {
  height: 300px;
  width: 300px;
  overflow: hidden;
}

.d2 h1, p {
  margin: 0 1rem;
}

.d2 div {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.d3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: d3;
  background-color: #ffffaf;
  border-radius: 1rem;
  overflow: hidden;
}

.d3 img {
  height: 300px;
  width: auto;
  overflow: hidden;
}

.d3 h1, p {
  margin: 0 1rem;
}

.d3 div {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.d4 {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: d4;
  background-color: #b1ca80;
  border-radius: 1rem;
  overflow: hidden;
}

.d4 img {
  height: 300px;
  width: auto;
  overflow: hidden;
}

.d4 h1, p {
  margin: 0 1rem;
}

.d4 div {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 560px) {
  .content-deals {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
    margin: 2rem auto;
    max-width: 1200px;
    background-color: white;
        grid-template-areas: 'd1' 'd2' 'd3' 'd4' 'd5';
    margin: 2rem;
  }
  .content-deals img {
    width: 100%;
    height: auto;
  }
}

.content-contact {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 2fr;
      grid-template-rows: 1fr 2fr;
      grid-template-areas: 'contact1 contact2' 'contact3 contact3';
  gap: 0px;
}

.contact1 {
  background-color: #b1ca80;
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: contact1;
  gap: 0px;
  padding: 50px;
}

.contact1 h1 {
  color: #ffffaf;
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
}

.contact1 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}

.contact1 ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
}

.contact1 ul li img {
  width: 40px;
  height: auto;
}

.contact1 ul li .snapchat:hover {
  position: absolute;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  height: 500px;
  width: auto;
}

.contact2 {
  background-color: #ffffaf;
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: contact2;
  gap: 0px;
  margin: 0px;
  padding: 50px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  color: black;
}

.contact2 h1 {
  color: black;
}

.contact3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: contact3;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  padding: 50px;
}

.contact-form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow: scroll;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 80px;
      -ms-flex: 80px 1fr 320px;
          flex: 80px 1fr 320px;
}

.header {
  margin: auto;
  line-height: 60px;
}

.footer {
  position: relative;
  line-height: auto;
  padding: 20px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: grey;
  color: white;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */