$footer-bg: grey;

@import "./nav";
@import "./content";
@import "./deals";
@import "./content-about";
@import "./content-deals";
@import "./content-contact";
@import "./imageslider";


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.container{
    display: flex;
    flex-direction: column;
    flex: 80px 1fr 320px;
}
.header{


    margin: auto;

    line-height: 60px;

}

  

.footer {
    position: relative;
    line-height: auto;
    padding: 20px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: $footer-bg;
    color: white;
    text-align: center;
}